## Imputasi

#### mean

In [3]:
import pandas as pd
import numpy as np

kolom = {'coll': [3,4,9],
'coll2':[5,np.nan,17],'coll3':[3,8,np.nan],'coll4':[7,6,5], 'coll5':[np.nan,7,np.nan]}
data = pd.DataFrame(kolom)

In [4]:
data

   coll  coll2  coll3  coll4  coll5
0     3    5.0    3.0      7    NaN
1     4    NaN    8.0      6    7.0
2     9   17.0    NaN      5    NaN

In [5]:
data.fillna(data.mean())

   coll  coll2  coll3  coll4  coll5
0     3    5.0    3.0      7    7.0
1     4   11.0    8.0      6    7.0
2     9   17.0    5.5      5    7.0

#### nilai Suka-suka

In [6]:
umur = {'umur': [28, 43,np.nan,25,34,np.nan,21]}
data = pd.DataFrame(umur)
data

   umur
0  28.0
1  43.0
2   NaN
3  25.0
4  34.0
5   NaN
6  21.0

In [7]:
data.fillna(data.mean())

   umur
0  28.0
1  43.0
2  30.2
3  25.0
4  34.0
5  30.2
6  21.0

In [8]:
data.fillna(99)

   umur
0  28.0
1  43.0
2  99.0
3  25.0
4  34.0
5  99.0
6  21.0

### end of tail

In [15]:
pip install feature-engine

Collecting feature-engine
  Downloading feature_engine-1.2.0-py2.py3-none-any.whl (205 kB)
Collecting scikit-learn>=0.22.2
  Downloading scikit_learn-1.0.2-cp310-cp310-win_amd64.whl (7.2 MB)
Collecting statsmodels>=0.11.1
  Downloading statsmodels-0.13.2-cp310-cp310-win_amd64.whl (9.1 MB)
Collecting scipy>=1.4.1
  Downloading scipy-1.8.0-cp310-cp310-win_amd64.whl (37.0 MB)
Requirement already satisfied: pandas>=1.0.3 in c:\users\my windows\appdata\local\programs\python\python310\lib\site-packages (from feature-engine) (1.4.1)
Requirement already satisfied: numpy>=1.18.2 in c:\users\my windows\appdata\local\programs\python\python310\lib\site-packages (from feature-engine) (1.22.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\my windows\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.0.3->feature-engine) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\my windows\appdata\roaming\python\python310\site-packages (from pandas>=1.0.3->feature-engine) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\my windows\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.1->pandas>=1.0.3->feature-engine) (1.16.0)
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Collecting joblib>=0.11
  Downloading joblib-1.1.0-py2.py3-none-any.whl (306 kB)
Collecting patsy>=0.5.2
  Downloading patsy-0.5.2-py2.py3-none-any.whl (233 kB)
Requirement already satisfied: packaging>=21.3 in c:\users\my windows\appdata\local\programs\python\python310\lib\site-packages (from statsmodels>=0.11.1->feature-engine) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\my windows\appdata\local\programs\python\python310\lib\site-packages (from packaging>=21.3->statsmodels>=0.11.1->feature-engine) (3.0.7)
Installing collected packages: threadpoolctl, scipy, patsy, joblib, statsmodels, scikit-learn, feature-engine

ERROR: Could not install packages due to an OSError: [WinError 32] The process cannot access the file because it is being used by another process: 'C:\\Users\\My Windows\\AppData\\Local\\Programs\\Python\\Python310\\Lib\\site-packages\\feature_engine\\selection\\drop_psi_features.py'
Consider using the `--user` option or check the permissions.

WARNING: You are using pip version 21.2.4; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Users\My Windows\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

Collecting feature-engine
  Using cached feature_engine-1.2.0-py2.py3-none-any.whl (205 kB)
Requirement already satisfied: scipy>=1.4.1 in c:\users\my windows\appdata\local\programs\python\python310\lib\site-packages (from feature-engine) (1.8.0)
Requirement already satisfied: statsmodels>=0.11.1 in c:\users\my windows\appdata\local\programs\python\python310\lib\site-packages (from feature-engine) (0.13.2)
Requirement already satisfied: pandas>=1.0.3 in c:\users\my windows\appdata\local\programs\python\python310\lib\site-packages (from feature-engine) (1.4.1)
Requirement already satisfied: scikit-learn>=0.22.2 in c:\users\my windows\appdata\local\programs\python\python310\lib\site-packages (from feature-engine) (1.0.2)
Requirement already satisfied: numpy>=1.18.2 in c:\users\my windows\appdata\local\programs\python\python310\lib\site-packages (from feature-engine) (1.22.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\my windows\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.0.3->feature-engine) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\my windows\appdata\roaming\python\python310\site-packages (from pandas>=1.0.3->feature-engine) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\my windows\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.1->pandas>=1.0.3->feature-engine) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\my windows\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn>=0.22.2->feature-engine) (3.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\my windows\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn>=0.22.2->feature-engine) (1.1.0)
Requirement already satisfied: patsy>=0.5.2 in c:\users\my windows\appdata\local\programs\python\python310\lib\site-packages (from statsmodels>=0.11.1->feature-engine) (0.5.2)
Requirement already satisfied: packaging>=21.3 in c:\users\my windows\appdata\local\programs\python\python310\lib\site-packages (from statsmodels>=0.11.1->feature-engine) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\my windows\appdata\local\programs\python\python310\lib\site-packages (from packaging>=21.3->statsmodels>=0.11.1->feature-engine) (3.0.7)
Installing collected packages: feature-engine
Successfully installed feature-engine-1.2.0
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.4; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Users\My Windows\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [7]:
import numpy as np
import pandas as pd
umur = {'umur': [28, 43,np.nan,25,34,np.nan,21]}
data = pd.DataFrame(umur)
data

   umur
0  28.0
1  43.0
2   NaN
3  25.0
4  34.0
5   NaN
6  21.0

In [8]:
from feature_engine.imputation import EndTailImputer

##imputer
imputer = EndTailImputer(imputation_method='gaussian',tail='right')

##fit-kan imputer ke set
imputer.fit (data)

##ubah data
test_data = imputer.transform(data)

##yuk tampilkan data
test_data

        umur
0  28.000000
1  43.000000
2  55.954611
3  25.000000
4  34.000000
5  55.954611
6  21.000000

bagaimana denga data kategorial?
kita akan fgunakan imputasi modus

In [17]:
from sklearn.impute import SimpleImputer

mobil = {'merk':['ferari','ford','ferari','avanza','pajero','honda',np.nan,'ferari','toyota',np.nan]}
data = pd.DataFrame(mobil)

In [15]:
data

       merk
0  mtsubisi
1      ford
2    ferari
3    avanza
4    pajero
5     honda
6       NaN
7       bmw
8    toyota
9       NaN

In [18]:
imp= SimpleImputer(strategy='most_frequent')

In [19]:
imp.fit_transform(data)

array([['ferari'],
       ['ford'],
       ['ferari'],
       ['avanza'],
       ['pajero'],
       ['honda'],
       ['ferari'],
       ['ferari'],
       ['toyota'],
       ['ferari']], dtype=object)

In [26]:
from feature_engine.imputation import RandomSampleImputer
data={'jenis kelamin' : ['laki-laki','perempuan','laki-laki',np.nan,'laki-laki','perempuan','perempuan',np.nan, 'laki-laki',np.nan],
'umur' : ['23','17','31','13',np.nan,'13',np.nan,'15',np.nan,'48']}
df = pd.DataFrame(data)

In [27]:
df

  jenis kelamin umur
0     laki-laki   23
1     perempuan   17
2     laki-laki   31
3           NaN   13
4     laki-laki  NaN
5     perempuan   13
6     perempuan  NaN
7           NaN   15
8     laki-laki  NaN
9           NaN   48

In [34]:
#buat imputer
imputer = RandomSampleImputer(random_state=29)

#fit
imputer.fit(df)

#ubah_data
testing_df = imputer.transform(df)

#tampil data
testing_df

  jenis kelamin umur
0     laki-laki   23
1     perempuan   17
2     laki-laki   31
3     perempuan   13
4     laki-laki   15
5     perempuan   13
6     perempuan   13
7     laki-laki   15
8     laki-laki   13
9     perempuan   48